<p style="font-size: 16px; font-weight: 800px;">Xin chào, chúng mình là câu lạc
  bộ Tin học của Trường THPT Trần Khai Nguyên (Its Future) đây. Chúng mình xin
  tặng bạn chiếc ảnh bức thư đầy cuti và dễ thương mà bạn đã gửi đến câu lạc bộ
  chúng mình như một món quà chào đón bạn đến với mái ấm TKN và cũng là một kỉ
  niệm với câu lạc bộ Tin học Its Future chúng mình đầu năm nhé! Chúc bạn một
  ngày tốt lành</p>
<img src="cid:image" alt="Image Description" />